<header class="header">
  <div class="header__container">
    <div class="header__left">
      <a href="#" class="header__link header__collection-icon">Коллекция</a>
      <a href="#" class="header__link header__add-icon header__link_active">Добавить</a>
    </div>
    <div class="header__logo">
      <a href="#" class="header__logo-link">
        <img src="../../../assets/navbar/logo.svg" alt="logo" />
      </a>
    </div>
    <div class="header__right">
      <a href="#" class="header__link header__search-icon">Поиск</a>
      <a href="#" class="header__avatar-link">
        <img src="../../../assets/navbar/avatar.svg" alt="avatar" />
      </a>
    </div>
  </div>
</header>
